# Please create DB configration file with your credentials.
# You can use db.conf.example as template:
# cp db.conf.example db.conf

DBNAME=name
DBUSER=root
DBPASS='pass!@#$1234'
DBHOST=localhost
DBDUMP=$DIR/dump.sql

# Docker
#
# Specify Docker container name in case your mysql is running in Docker container.
# For example that could be 'mysqld'
DOCKER_MYSQLD_CONTAINER=
DOCKER_NETWORK=

DOCKER_COMPOSE_SERVICE=

# Uncomment lines below to use host address, port and root password defined inside container.
# DBHOST='$MYSQL_PORT_3306_TCP_ADDR'
# DBPORT='$MYSQL_PORT_3306_TCP_PORT'
# DBPASS='$MYSQL_ENV_MYSQL_ROOT_PASSWORD'
